body{
	background: url("../images/background.jpg");
	font-family: 'Anton', sans-serif;
}
.trivia-body{
	background: #ffcc00;
}
.main-text {
	text-align: center;
}

.answers {
	text-align: center;
}
.question-container {
	text-align: center;
	display: none;
}
.answers h5:hover {
	color: blue;
	cursor: pointer;
}

.start-button {
	text-align: center;
}

.start-button span {
	background: #ffb3b3;
}

.start-button span:hover {
	cursor: pointer;
	color: red;
}

.title {
	text-align: center;
}

.final-counter {
	list-style: none;
	text-align: center;
}

.show-final-results {
	display: none;
}

.show-final-results button.start-over {
	background: red;
}
.show-final-results button.start-over:hover {
	cursor: pointer;
	color: black;
}

.gif-holder {
	text-align: center;
}